BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80

# Align function call arguments and parameters to block indent (closing parenthesis on a new line)
AlignAfterOpenBracket: BlockIndent

# Keep C++11 braced lists formatted nicely
Cpp11BracedListStyle: true

# Brace wrapping settings (Attach style, open braces on the same line)
BreakBeforeBraces: Attach

# Other styling preferences
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
